
<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
        <h1>You made the wrong decision, fool.</h1>
        </div>
        </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">

            
    </div>
</div>
 

 <% end %>​