// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('https://s-media-cache-ak0.pinimg.com/originals/2b/fa/b0/2bfab09d2c69cc016f0ba946d3e2e717.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
